<!-- Certification Grid Section -->
<section id="certifications" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certifications</h2>
                <h3 class="section-subheading text-muted">I believe in lifelong learning, and I have pursued a range of certifications to build a strong foundation in computer science concepts and best practices in business intelligence and automation. I've also focused on developing project management and leadership skills to prepare for the next step in my career.</h3>
            </div>
        </div>
        <div class="row">
            <!-- Certification 1 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification1.jpg" class="img-responsive img-centered" alt="Certification 1">
                </a>
                <div class="certification-caption">
                    <h4>Certification 1</h4>
                    <p class="text-muted">Description of Certification 1</p>
                </div>
            </div>

            <!-- Certification 2 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification2.jpg" class="img-responsive img-centered" alt="Certification 2">
                </a>
                <div class="certification-caption">
                    <h4>Certification 2</h4>
                    <p class="text-muted">Description of Certification 2</p>
                </div>
            </div>

            <!-- Certification 3 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification3.jpg" class="img-responsive img-centered" alt="Certification 3">
                </a>
                <div class="certification-caption">
                    <h4>Certification 3</h4>
                    <p class="text-muted">Description of Certification 3</p>
                </div>
            </div>

            <!-- Certification 4 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification4.jpg" class="img-responsive img-centered" alt="Certification 4">
                </a>
                <div class="certification-caption">
                    <h4>Certification 4</h4>
                    <p class="text-muted">Description of Certification 4</p>
                </div>
            </div>

            <!-- Certification 5 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification5.jpg" class="img-responsive img-centered" alt="Certification 5">
                </a>
                <div class="certification-caption">
                    <h4>Certification 5</h4>
                    <p class="text-muted">Description of Certification 5</p>
                </div>
            </div>

            <!-- Certification 6 -->
            <div class="col-md-4 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/certification6.jpg" class="img-responsive img-centered" alt="Certification 6">
                </a>
                <div class="certification-caption">
                    <h4>Certification 6</h4>
                    <p class="text-muted">Description of Certification 6</p>
                </div>
            </div>
        </div>
    </div>
</section>
