<!-- About Section -->
<div class="row" style="height: 60px;"></div>
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">My Career Journey from Accounting to Automation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <!-- Timeline Entry 1 -->
                    <li>
                         <div class="timeline-image">
                                                         <br>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023 - Current</h4>
                                <h4 class="subheading">Senior Developer, Business Intelligence & RPA Projects</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In my current role, I deliver automation projects that significantly improve operational efficiency. I focus on developing solutions that automate and streamline accounting processes using tools like Alteryx, Power BI, Power Automate, and VBA/Macros, while ensuring ongoing support and optimization. My work has saved 60+ labor hours per month and enhanced data integration and reporting, contributing to more efficient decision-making and smoother month-end close operations.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Timeline Entry 2 -->
                    <li class="timeline-inverted">
                         <div class="timeline-image">
                                                         <br>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020 - 2022</h4>
                                <h4 class="subheading">Senior Analyst, Finance Systems</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In this role, I bridged the gap between business needs and technical capabilities by managing finance system reconciliations, data integration, and Oracle ERP and Blackline administration, ensuring accuracy and efficiency in accounting processes. I collaborated with cross-functional teams to improve reporting processes, enhance data quality, and optimize data structures for better decision-making.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Timeline Entry 3 -->
                    <li>
                        <div class="timeline-image">
                                                        <br>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019 - 2020</h4>
                                <h4 class="subheading">Staff Accountant</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">My journey began as an accountant, where I managed financial reporting, journal entries, and process improvements to ensure efficient month-end close processes. I was responsible for ensuring the accuracy of profit and loss statements for 200 profit centers, using advanced Excel skills to streamline tasks and improve efficiency. This experience provided me with a strong foundation in accounting and enhanced my ability to identify opportunities for process improvements.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Timeline Entry 4 -->
                    <li class="timeline-inverted">
                         <div class="timeline-image">
                                                         <br>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Bachelor of Science in Accounting</h4>
                                <h4 class="subheading">Clemson University, SC</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">My academic journey in accounting at Clemson University laid the groundwork for my career in finance transformation and development. I supplemented my degree with minors in management and finance, which have proven invaluable as I transitioned into more technical project roles involving data and automation, as well as taking on increasing responsibilities.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Timeline Entry for Résumé -->
                        <li class="timeline-inverted">
                        <div class="timeline-image">
                            <br>
                            <br>
                            <br>
                            <a href="img/experience/resumeIJ.pdf" target="_blank" class="btn btn-primary">Résumé</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
