<!-- Portfolio Modals -->
{% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">  <!-- Added modal-dialog -->
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container" style="padding-left: 5; padding-right: 5;">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">  <!-- Changed to mx-auto for better centering -->
                            <div class="modal-body">
                                <h2 class="text-uppercase">{{ post.title }}</h2>  <!-- Added text-uppercase for title styling -->
                                <hr class="star-primary">
                                <img src="img/portfolio/{{ post.img }}" class="img-fluid d-block mx-auto" alt="{{ post.alt }}">  <!-- Changed to img-fluid for better responsiveness -->
                                <p>{{ post.description }}</p>
                                <ul class="item-details" style="text-align: left;">
                                    <li>Date: {{ post.project-date }}</li>
                                    <li>Technology: {{ post.technology }}</li>
                                    <li>Challenge: {{ post.challenge }}</li>
                                    <li>Results: {{ post.results }}</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>  <!-- Changed to btn-primary -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

