<!-- Portfolio Grid Section -->
<div class="row" style="height: 60px;"></div>
<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted" style="line-height: 1.8;">Some of my proudest achievements involve developing automations that saved significant time and improved workflow efficiency. I've seen firsthand how the power of technology can enhance operations, and I understand that successful projects rely on the right tools, knowledge, and problem-solving mindset. I take great satisfaction in serving our internal customers and making their jobs a little easier with each completed project. </br> Here's a snapshot of some of my favorite projects.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>


<!-- Certification Grid Section -->
<section id="certifications" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certifications</h2>
                <h3 class="section-subheading text-muted" style="line-height: 1.8;">I believe in lifelong learning, and I have pursued a range of certifications to build a strong foundation in computer science concepts and best practices in business intelligence and automation. I've also focused on developing project management and leadership skills to prepare for the next step in my career.</h3>
            </div>
        </div>
        <div class="row">
            <!-- Certification 1 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://credentials.edx.org/credentials/38ab2d3d18014ed59509579a83c3ec73/" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert1.jpg" class="img-responsive img-centered" alt="Certification 1">
                </a>
                    <div class="row" style="height: 30px;"></div>
                <div class="certification-caption">
               <a href="https://credentials.edx.org/credentials/38ab2d3d18014ed59509579a83c3ec73/" target="_blank">
            <h4 class="service-heading"style="color: black;">IBM: Data Engineering Fundamentals</h4>
        </a>
                    <p class="text-muted">Courses: Data Engineering Foundations, Python Concepts, SQL Concepts, Relational Database Basics</p>
                </div>
            </div>

            <!-- Certification 2 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://coursera.org/share/3d442facc42423b9ed9d3ce7e27de8f6" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert2.jpg" class="img-responsive img-centered" alt="Certification 2">
                </a>
                <div class="certification-caption">
                        <a href="https://coursera.org/share/3d442facc42423b9ed9d3ce7e27de8f6" target="_blank">
            <h4 class="service-heading"style="color: black;">Rice University: Introduction to Scripting in Python</h4>
        </a>
                    <p class="text-muted">Courses: Python Programming Essentials, Data Representations, Data Analysis, Data Visualizations</p>
                </div>
            </div>

            <!-- Certification 3 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://www.credly.com/badges/df2933f5-516c-4e35-936e-45ecc7862875" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert3.jpg" class="img-responsive img-centered" alt="Certification 3">
                </a>
                <div class="certification-caption">
                        <a href="https://www.credly.com/badges/df2933f5-516c-4e35-936e-45ecc7862875" target="_blank">
            <h4 class="service-heading"style="color: black;">Google: Business Intelligence</h4>
        </a>
                    <p class="text-muted">Courses: Business Intelligence Projects, Data Models ETL and Pipelines, Tableau Dashboards and Reports</p>
                </div>
            </div>

            <!-- Certification 4 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="#" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert4.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="certification-caption">
                        <a href="" target="_blank">
            <h4 class="service-heading"style="color: black;"></h4>
        </a>
                    <p class="text-muted"></p>
                </div>
            </div>

            <!-- Certification 5 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://www.credly.com/badges/f7458049-98f6-4758-8abb-bd977e5eefcc" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert5.jpg" class="img-responsive img-centered" alt="Certification 5">
                </a>
                <div class="certification-caption">
                        <a href="https://www.credly.com/badges/f7458049-98f6-4758-8abb-bd977e5eefcc" target="_blank">
            <h4 class="service-heading"style="color: black;">Alteryx Certified: Alteryx Designer Core</h4>
        </a>
                    <p class="text-muted">The Alteryx Designer Core certification validates your ability to use the Alteryx Designer core tools to clean, prepare, blend, parse, transform, and analyze data.</p>
                </div>
            </div>

            <!-- Certification 6 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://learn.microsoft.com/api/credentials/share/en-us/Ivana-0894/5730A21ADE2BBD48?sharingId" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert6.jpg" class="img-responsive img-centered" alt="Certification 6">
                </a>
                <div class="certification-caption">
                        <a href="https://learn.microsoft.com/api/credentials/share/en-us/Ivana-0894/5730A21ADE2BBD48?sharingId" target="_blank">
            <h4 class="service-heading"style="color: black;">Microsoft Certified: Power Platform Fundamentals</h4>
        </a>
                    <p class="text-muted">The Microsoft Certified: Power Platform Fundamentals certification verifies your understanding of the core features and capabilities of Microsoft Power Platform, including Power Apps, Power Automate, Power BI, and Virtual Agent.</p>
                </div>
            </div>

            <!-- Certification 7 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://www.credly.com/badges/0d53171b-250f-4d0f-99ea-d836bd1ed311" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert7.jpg" class="img-responsive img-centered" alt="Certification 7">
                </a>
                <div class="certification-caption">
                        <a href="https://www.credly.com/badges/0d53171b-250f-4d0f-99ea-d836bd1ed311" target="_blank">
            <h4 class="service-heading"style="color: black;">Python Certified: Entry-Level Data Analyst</h4>
        </a>
                    <p class="text-muted">The Python Certified: Entry-Level Data Analyst with Python & SQL certification verifies your proficiency in foundational data analytics, including acquisition, pre-processing, validation, preparation, analysis, modeling, and visualization with specific focus on Python programming and databases.</p>
                </div>
            </div>

            <!-- Certification 8 -->
            <div class="col-md-3 col-sm-6 certification-item">
                <a href="https://badgr.com/public/assertions/B42VPRpaQV6Vz6WuYFB6ug" class="certification-link" target="_blank">
                    <div class="certification-hover">
                        <div class="certification-hover-content">
                        </div>
                    </div>
                    <img src="img/certifications/cert8.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="certification-caption">
                           <a href="https://badgr.com/public/assertions/B42VPRpaQV6Vz6WuYFB6ug" target="_blank">
            <h4 class="service-heading"style="color: black;">CSSC Certified: Lean Six Sigma Green Belt</h4>
        </a>
                    <p class="text-muted">The CSSC Certified: Lean Six Sigma Green Belt certification validates your ability to apply Lean Six Sigma principles to improve processes, reduce waste, and enhance efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</section>
