<!-- Volunteering Section -->
<div class="row" style="height: 60px;"></div>
<section id="volunteering">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Community Service</h2>
                <h3 class="section-subheading text-muted" style="line-height: 1.8;">I’m deeply committed to volunteering my time to mentor and support the personal and professional growth of youth in my community. In the summer of 2024, I independently took on a passion project to author and present a comprehensive 5-part Career Development curriculum covering everything I wish I had known as a student, along with the insights I’ve gained throughout my career. It’s been an incredibly rewarding experience sharing this knowledge with dozens of high school-aged participants through impactful nonprofit organizations such as Girl Magic Inc., Crittenton of NC, and Carolina Youth Coalition, with the hope of inspiring and supporting the next generation. You can access the full curriculum below and share it with whoever may benefit.</h3>
            </div>
        </div>

<div class="row text-center">
    <div class="col-md-6">
        <img src="img/volunteering/1.jpg" class="img-responsive" alt="Volunteering Image 3">
    </div>
    <div class="col-md-6">
        <img src="img/volunteering/2.jpg" class="img-responsive" alt="Volunteering Image 4">
    </div>
</div>
<div class="row" style="height: 60px;"></div>

    <h4 class="service-heading">FIVE PART CAREER DEVELOPMENT SERIES</h4>
        <div class="row text-center">
    <div class="col-md-2">
        <a href="img/curriculum/1pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART ONE PP</h4>
        </a>
        <p class="text-muted">Building Self-Awareness Self-Awareness in Career Development and in Personal and Professional Life</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/2pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART TWO PP</h4>
        </a>
        <p class="text-muted">Exploring Career Options <br/> Alignment Importance Researching Industries and Roles</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/3pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART THREE PP</h4>
        </a>
        <p class="text-muted">Setting Career Goals Adaptability and Resilience <br/> Intentionality <br/> Self-Advocacy and Defining Success</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/4pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART FOUR PP</h4>
        </a>
        <p class="text-muted">Your Brand and Your Network to Get the Job Personal Branding Elevator Pitch <br/> STAR Method for Interviewing</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/5pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART FIVE PP</h4>
        </a>
        <p class="text-muted">Your Paycheck and Financial Literacy <br/> Calculating Take <br/> Home Pay <br/> How to Budget</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/bonus1pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">BONUS ONE PP</h4>
        </a>
        <p class="text-muted">Preparing to Be a First Gen College Student Overcoming Imposture Syndrome <br/> Building Community <br/> Good Academic Habits</p>
    </div>
</div>

        <!-- Row 2: 6 items -->
        <div class="row text-center">
    <div class="col-md-2">
        <a href="img/curriculum/1ws.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART ONE WS</h4>
        </a>
        <p class="text-muted">Self-Assessment Activity</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/2ws.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART TWO WS</h4>
        </a>
        <p class="text-muted">Exploring Career Options Activity</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/3ws.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART THREE WS</h4>
        </a>
        <p class="text-muted">Setting Career Goals Activity</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/4ws.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART FOUR WS</h4>
        </a>
        <p class="text-muted">Creating A Networking Plan</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/5ws.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">PART FIVE WS</h4>
        </a>
        <p class="text-muted">Creating a Personal Financial Plan</p>
    </div>
    <div class="col-md-2">
        <a href="img/curriculum/bonus2pp.pdf" target="_blank">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" style="color: black;">BONUS TWO PP</h4>
        </a>
        <p class="text-muted">STEM Careers in Business (Accounting, Finance, and IT)</p>
    </div>
</div>

<!-- Community Section -->
<section id="Community">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Community Involvement</h2>
                <h3 class="section-subheading text-muted" style="line-height: 1.8;">I am also passionate about engaging with my community through ad-hoc volunteering with organizations such as Feeding Charlotte and Second Harvest Food Bank of Metrolina, as well as serving on various committees for organizations. I enjoy connecting with like-minded individuals who share my commitment to giving back, personal development, and other common interests. Collaborating with others who prioritize community impact and development is always an energizing experience. My involvement includes serving in a leadership capacity on the following committees:</h3>
            </div>
        </div>
       
        <!-- New Row for Images -->
<div class="row text-center">
    <div class="col-md-6">
        <img src="img/volunteering/3.jpg" class="img-responsive" alt="Volunteering Image 3">
    </div>
    <div class="col-md-6">
        <img src="img/volunteering/4.jpg" class="img-responsive" alt="Volunteering Image 4">
    </div>
</div>

        <div class="row">
            <div class="col-lg-12">
                <br>
               <a href="https://www.firstgensuccess.org" target="_blank">
            <h4 class="service-heading"style="color: black;">First Gen Success</h4>
        </a>
        <h4 class="service-heading">Finance Committee (Spring 2024 - Present)</h4>
        <p class="text-muted">First Gen Success is a cause that is personal to me, as I remember the unique challenges I faced as a first-generation student. I love seeing the students being supported, uplifted, and encouraged to reach new heights.</p>
                            <br>

                               <a href="https://www.cypg.org" target="_blank">
            <h4 class="service-heading"style="color: black;">Charlotte Young Professionals Group</h4>
        </a>
                <h4 class="service-heading">Digital Development Committee (Fall 2024 - Present)</h4>
<p class="text-muted">The Charlotte Young Professionals Group has been an incredible networking and professional development organization that has facilitated meaningful relationships with like-minded peers. It has also provided valuable opportunities for my personal and career growth, as well as new experiences.</p>
                            <br>

                <h4 class="service-heading">Compass Group</h4>
                <h4 class="service-heading">Social Committee (Fall 2024 - Present)</h4>
                <p class="text-muted">I serve on the social committee at my job because I believe in the importance of fostering an enjoyable work environment that allows coworkers to connect and build strong relationships across our teams.</p>
            
            </div>
        </div>
    </div>
</section>
